        #jumbotron-image{
          background-image: url(../images/Desktop_banner1.png);
          padding:0px;
          height:600px;
          position: relative;
          margin: 0px;

        }
        #example-menu{
            background-color:black;
            opacity:0.9;
            color:white;
            font-size:12px;
            height:90px;
            padding:10px 30px;
            position:relative;
            width:100%;
            margin:0px;



            }
        #nav-links{
            padding: 15px;


        }
        

        #nav-links a{
          font-family: 'Quicksand', sans-serif;
          font-size: 15px;
          color:#ffffff;
        }

        #nav-links a:hover{
          color: #E668FF;
          background: none;
        }

        #login-box{
          text-align: center;
          position: absolute;
          bottom: -70px;
          left:200px;
          right:200px;
          margin-right: auto;
          margin-left: auto;
          background-color: #E668FF;
          width:700px;
          padding:30px;
        }
        #tag-line{
          font-family: 'Quicksand', sans-serif;
          font-size: 56px;
          color: #ffffff;
          position: absolute;
          bottom: 170px;
          left:25%;
          right:25%;
          text-shadow: 0px 0px 10px #000000;
        }
        #tag-line-box{
          font-family: 'Quicksand', sans-serif;
          font-size: 32px;
          margin:0px;
          color:#ffffff;
        }

        #box-buttons {
          margin-top: 30px;
          padding:0px;
          list-style: none;
        }

        #signup {
          color:#ffffff;
          font-family: 'Quicksand', sans-serif;
          font-size: 15px;
          background-color:gray;
          padding:10px 30px;
          width:200px;
          display: inline;
          border-radius: 100px;
        }
        #signup:hover{
          background-color:#ffffff;
          color:#E668FF;

        }

        #login {
          font-family: 'Quicksand', sans-serif;
          font-size: 15px;
          background-color:white;
          color:#E668FF;
          padding:10px 30px;
          width:200px;
          display: inline;
          border-radius: 100px;
        }

        #login:hover{
          background-color:#4A4A4A;
          color:#E668FF;
        }

        #logo {
          
          width:200px;
          }


        #container-section2{
          background-color: #F3F3F3;
          padding-top:130px;
          padding-bottom:50px;

        }

        #container-section3 {

          padding-top: 150px;
          


        }
        #featured-houses{
          float: right;
        }
        .dummy-pix{
          width:350px;
          padding:5px;
        }
        .subheader{
          color: #E668FF;
          font-size: 70px;
          font-weight: 700;
          font-family: 'Quicksand', sans-serif;
          text-transform: uppercase;
          line-height: 65px;
        }
        #sub-header2{
          font-size: 50px;
          text-align: center;
          padding-top:50px;
          padding-bottom:50px;

        }
        .browse{
          width: 100%;
          background-color: #000;
          text-align: center;
          color:#fff;
          font-family:'Quicksand', sans-serif;
          font-size: 20px;
          padding:40px;
          
        }
        .browse:hover{
          font-weight: 700;
        }
        .browse-section{
          margin:0px;
          padding:0px;
        }
        #browse-col{
          padding: 0px;

        }


        #browse-seafood{
          background: url("../images/seafood.png");
          background-repeat: no-repeat;
          background-size: 100%;
        }
        #browse-soup{
          background: url("../images/soup.png");
          background-repeat: no-repeat;
          background-size: 100%;
        }
        #browse-veggie{
          background: url("../images/salad.png");
          background-repeat: no-repeat;
          background-size: 100%;
        }
        


        
        footer{
          background-color: #E668FF;
          padding: 20px;
          
        }
        #footer-logo img{
          margin-right: 50px;
          width:200px;
          float: right;
        }
        #copyright{
          font-family: 'Quicksand', sans-serif;
          color:#fff;
          margin-top: 20px;
          margin-left: 50px;
        }
        
        #gray-section{
          color: #9B9B9B;
        }


@media only screen and (max-width: 1200px) {
        /*#jumbotron-image{
          background-size: 100%;
        }*/

        #login-box{
          width:600px;
          text-align: center;
        }
        #featured-houses{
          padding: 10px;
          text-align: center;
        }
        
        .subheader{
        font-size: 55px;
        line-height: 55px;
        text-align: center;

        }

        #featured-houses img{
          padding:20px;
          width: 100%;


          
        }

}


@media only screen and (max-width: 800px) {

        /*#jumbotron-image{
          background-size: 100%;
        }*/

        #login-box{
          width:400px;
          text-align: center;
        }
        #featured-houses{
          padding: 10px;
        }
        
        .subheader{
        text-align: center;
        font-size: 45px;
        line-height: 45px;

        }

        #featured-houses img{
          width: 100%;
          padding:20px;
          
        }
        

}



@media only screen and (max-width: 500px) {
        
        #logo {          
          width:120px;
          }

        #navbar-nav {
          width:10px;
        }

        /*turn nav-links into dropdown menu button*/

        
        #nav-links li a{
          font-size:15px;
          width:100px;
          display: inline;
        }
    
        #nav {
           height:67px;
    }
        
        #tag-line {
          text-align: center;
          font-size:40px;
          bottom:300px;
        }

        #login-box {
          bottom:-50px;
          left:30px;
          width:300px;
        }

  /*subheader section*/
        

        .subheader  {
        margin-top: 70px;
        font-size:50px;
        text-align:center;
        line-height: 50px;
        margin-bottom: 40px;
      
        }

        #container-section2 {
          position:relative;
          bottom:120px;
          z-index:-1;
        }
        #featured-houses {
          float:none;
        }

        #featured-houses img {
          width:300px;
          display: block;
          margin: auto;
        }

        #container-section3 {
          padding-top: 150px;
          
          

        }

        .browse:hover{
          font-weight: 700;
        }

        footer {
          position:relative;
          left:-20px
          width:375px;
          text-align:center;
        }

        #copyright {
          position:relative
          left:0px;
          margin:0px;
        }

        #footer-logo img {
          position:relative;
          right:75px;
          margin:0px;
          margin-top: 10px;
          padding:10px;
        }


}