#logo {
	width:145px;
	margin:5px 10px 5px 10px;
}

.start-box {	
	top:-275px;
	text-align:center;
	margin:auto;
	
}

#start {
	position:relative;
	top:-350px;
	color:white;

}

#banner-img {
	width:auto;
   height: auto;
}

.start-btn {
	height:45px;
}

footer {

}